* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,.1);
}

.menu {
    font-size: 22px;
    cursor: pointer;
}

/* PROFILE */
.profile {
    text-align: center;
    padding: 30px 20px;
}

.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile h1 {
    font-size: 22px;
    margin-bottom: 8px;
}

.profile .about {
    font-size: 14px;
    color: #555;
}

/* PROJEK */

.grid-project{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
    margin-top: 15px;
}

.grid-project .item{
    background:white;
    padding:15px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.grid-project img{
    width:100%;
    height:120px;
    object-fit:cover;
    border-radius:8px;
    margin-bottom:10px;
}

.grid-project a{
    background:#6b00d6;
    color:white;
    padding:6px 14px;
    border-radius:6px;
    text-decoration:none;
    display:inline-block;
    margin-top:8px;
}

.grid-project a:hover{
    opacity:.8;
}


/* FOOTER */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 8px 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,.1);
    z-index: 999;
}

/* Icon kecil */
footer a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ft-icon{
    width: 26px;     /* kecilkan ukuran */
    height: 26px;
    object-fit: contain;
    filter: drop-shadow(0 0 2px rgba(0,0,0,.2));
    transition: .2s;
}

.ft-icon:hover{
    transform: scale(1.2);
}


